{% extends 'base.html' %}

{% block blog-nav %}
<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {% for category in categorys %}
              {% if category.name == 'Home' %}
                  <a class="blog-nav-item active" onclick="category_detail({{ category.id }})" href="">{{ category.name }}</a>
              {% else %}
                  <a class="blog-nav-item" onclick="category_detail({{ category.id }})" href="#">{{ category.name }}</a>
              {% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>
{% endblock %}