{% extends 'base.html' %}

{% block blog-post %}
    <div class="blog-post">
        <div class="blog-header">
            <h1 class="blog-post-title">{{ article.title }}</h1>
            <div class="blog-post-meta">
                <span>
                    <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                    <a href="{% url 'category_detail' article.category_id %}">{{ article.category }}</a>
                </span>
                <span>
                    <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                    <time>{{ article.modify_time }}</time>
                </span>
                <span>
                    <i class="glyphicon glyphicon-user"></i>
                    <i>ahaii.</i>
                </span>
            </div>
        </div>
        <hr>
        <div class="blog-post-body">
            <table>
               <tbody>
                   <tr>
                       <td>{{ article.brief }}</td>
                   </tr>
               </tbody>
            </table>
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
{% endblock %}