{% extends 'base.html' %}
{% load staticfiles %}

{% block blog-post %}
{% for article in articles %}
    <div class="blog-post">
        <header>
            <a class="label" href="{% url 'category_detail' article.category_id %}">{{ article.category }}
                <i class="label-arrow"></i>
            </a>
            <h2 class="blog-post-title">
                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
            </h2>
        </header>
        <div class="blog-post-body">
            <div class="blog-post-img">
                <img width="200" height="123" src="http://www.ahaii.com/static/img/TESLA.png">
            </div>
            <div class="blog-post-text">
                <p style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:5; overflow: hidden;">{{ article.body }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}






