{% extends 'base.html' %}

{% block blog-nav %}
<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {% for category in categorys %}
              {% if category.name == 'Home' %}
                  <a class="blog-nav-item active" onclick="category_detail({{ category.id }})" href="">{{ category.name }}</a>
              {% else %}
                  <a class="blog-nav-item" onclick="category_detail({{ category.id }})" href="#">{{ category.name }}</a>
              {% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>
{% endblock %}

{% block blog-post %}
{% for article in articles %}
    <div class="blog-post">
        <h2 class="blog-post-title">
            <a>{{ article.title }}</a>
        </h2>
        <p style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:5; overflow: hidden;">{{ article.body }}</p>
    </div>
{% endfor %}
{% endblock %}






